*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --moradoClaro: rgba(206, 166, 244, 0.669);
    --moradoOscuro: rgb(154, 75, 228, 0.669);
    --grisClaro:rgb(198, 192, 204);
    --negro:rgba(0, 0, 0, 0.63);
    --myAliceBlue:rgba(240, 248, 255, 0.682);
  }
  header{
    width: 100%;
  }
nav{
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.241);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
}
.nav-left{
    width: 450px;
    display: flex;
}
.nav-logo{
    width: 100px;
}
.nav-left > ul{
    display: flex;
    list-style: none;
    width: 500px;
    height: 50px;
    margin: 27px 0 0 0;
    padding: 10px 0;
    font-size: 16px;
}


.nav-left > ul > li > a{
    text-decoration: none;
    color: var(--grisClaro);
    height: 10px;
    padding: 5px 14px;
    border-radius: 7px;

}

.nav-left > ul > li > a:hover{
    color: var(--moradoClaro);
    border:1px solid var(--moradoOscuro);
}

.nav-right{
    width: 260px;
}
.nav-right > ul {
    list-style: none;
    display: flex;
}

.navbar-email{
    height: 23px;
    margin: 36px 0 0 0;
    color: var(--grisClaro);
    font-size: 15px;
    cursor: pointer;
}
.nav-right > ul > .nav-bar-shopping-car {
    width: 40px;
    margin: 0 0 0 60px;
    position: relative;
}


.nav-right > ul > .nav-bar-shopping-car >img{
    width: 40px;
    margin: 25px 0 0 0;
    cursor: pointer;

}
.nav-right > ul > li> div{
    background-color: rgb(160, 116, 51);
    width: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 25px;
    right: -4px;
}
.account-email{
    border: 1px solid var(--grisClaro);
    position: absolute;
    right: 130px;
    top: 94px;
    width: 140px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.account-email > ul > li {
    list-style: none;
    text-align: center;
    margin: 8px 0 0 0;
}
.account-email > ul > li > a{
    text-decoration: none;
}
.account-email-sign-three{
    color: var(--moradoClaro);
}
.account-email-sign-one,.account-email-sign-two{
    color: var(--negro);
    font-size: 20px;
    font-weight: bold;
}
.inactive{
    display: none;
}

.myOrder-display{
    background-color: var(--myAliceBlue);
    position: absolute;
    right: 5px;
    top: 95px;
    width: 350px;
    height: 490px;
    border-radius: 10px;
}
.myOrder-display > div {
    display: flex;
    align-items: center;
    margin:  20px 0 0 0;
}
.myOrder-display > div > .img-myorder{
    width: 90px;
    height: 80px;
    border-radius: 16px;
}
.myOrder-display > div > .parrafo_3{
    margin: 0 0 0 16px;
    font-weight: bold;
}
.myOrder-display > div > .parrafo_2{
    margin: 0 0 0 110px;
}
.myOrder-display > div > .parrafo_1{
    margin: 0 0 0 10px;
}
.myOrder-display > div > .parrafo_0{
    margin: 0 0 0 10px;
    font-weight: bold;
}
.myOrder-total{
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(126, 120, 120, 0.095);
    font-weight: bold;
}
.myOrder-display > div > input{
    background-color: var(--moradoClaro);
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: var(--myAliceBlue);
    font-size: 20px;
}
.arrow,.img-x{
    width: 15px;
}

/* Menu mobile */

@media(min-width:642px){
    .menu-mobile{
        display: none;
    }    
    .logo-mobile {
        display: none;
    }
}


@media (max-width: 641px){
    .logo-mobile {
        width: 100px;
        height: 60px;
        margin:  10px 0 0 86px;
    }
    .logo-mobile > img {
        width: 100px;
    }
    
    .menu-mobile > .menu-mobile-icon{
        width: 45px;
        margin: 15px 0 0 0;
    }
    .menu-mobile > .menu-mobile-display{
        position: absolute;
        width:100%;
        top: 70px;
        height: 490px;
        background-color: rgba(240, 248, 255, 0.682);
        border-radius: 10px;
    } 
    .menu-mobile-display > ul > .first-menu{
        list-style: none;
        margin: 30px 25px;
    }
    .menu-mobile-display > ul > li > a{
        text-decoration: none;
        color: var(--negro);
        font-weight: bold;
        font-size: 18px;
    }
    .menu-mobile-display > ul > .second-menu{
        list-style: none;
        margin: 13px 25px;;
    }
    .menu-mobile-display > ul > .mobile-email{
        list-style: none;
        color: var(--negro);
        margin: 35px 25px;
    }
    .nav-left{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    nav{
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .nav-right > ul{
        display: flex;
        justify-content: end;
    }
    .nav-right > ul > .nav-bar-shopping-car{
        margin: 0 0 0 0;
        bottom: 7px;
    }
}

/* Cards con productos */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }

  @media(max-width: 640px){
    
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email{
      display: none;
    }
    .desktop-menu{
      display: none;
    }
    .product-detail {
      width: 100%;
    }
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
    aside{
        background-color: white;
    }

  }
    
  /* Aside desplegable */

  aside{
    width: 320px;
    height: 600px;
    position: absolute;
    right: 1px;
    top: 93px;
    border-radius: 15px;
  }
  aside > img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
  }
  aside > .close-aside{
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: rgba(240, 248, 255, 0.854);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--moradoOscuro);
    cursor: pointer;
  }


  .detail-product{
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px;
  }
  .detail-product > .price-name > h3{
    margin: 3px 0;
  }

  .detail-product > .price-name > p, .description > p{
    color: var(--grisClaro);
  }
  .detail-product > .btn-aside{
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: var(--moradoClaro);
    color: var(--myAliceBlue);
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .detail-product > .btn-aside > img{
    width: 30px;
  }





